.idea/.name
.idea/chatbot_agents.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/config.cpython-313.pyc
__pycache__/run_api.cpython-313.pyc
__pycache__/ticket_create_agent.cpython-313.pyc
api/__pycache__/chat_api.cpython-313.pyc
api/__pycache__/dependencies.cpython-313.pyc
api/__pycache__/documents_api.cpython-313.pyc
api/__pycache__/history_api.cpython-313.pyc
api/__pycache__/history_db.cpython-313.pyc
api/__pycache__/main.cpython-313.pyc
api/__pycache__/schemas.cpython-313.pyc
agent/__init__.py
agent/__pycache__/__init__.cpython-313.pyc
agent/__pycache__/agent_manager.cpython-313.pyc
api/__pycache__/auth_api.cpython-313.pyc
core/__pycache__/__init__.cpython-313.pyc
core/__pycache__/agent_manager.cpython-313.pyc
core/__pycache__/chatbot.cpython-313.pyc
core/__pycache__/config.cpython-313.pyc
core/__pycache__/document_management.cpython-313.pyc
core/__pycache__/embedding_manager.cpython-313.pyc
core/__pycache__/history_manager.cpython-313.pyc
core/__pycache__/internet_search.cpython-313.pyc
/core/__pycache__
/core/common/__pycache__
/core/services/__pycache__
/streamlit_ui/__pycache__
/tools/__pycache__
/utils/__pycache__
/vector/__pycache__
/api/__pycache__
api/__init__.py
streamlit_ui/__init__.py
